body {
    font-family: poppins,sans-serif;
}

input {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
}


button {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    border: 0;
    background-color: rgb(56, 106, 235);
    color: white;
    font-weight: bold;
    
}

button:hover {
    background-color: white;
    color:rgb(56, 106, 235) ;
    border: 1px solid rgb(56, 106, 235);
    cursor: pointer;
}